
@font-face {
    font-family:'witchwood-regular';
    src: url('/fonts/witchwoode/Witchwoode-Regular.woff2') format('woff2'),
         url('/fonts/witchwoode/Witchwoode-Regular.woff') format('woff'),
         url('/fonts/witchwoode/Witchwoode-Regular.ttf') format('truetype');
}

.witchwood {
    font-family: 'witchwoode', sans-serif;
}

.merriweather-text {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}